---
title: "Milliways"
layout: "layouts/home"
---


<section class="landing">
  <p> This is a page with recipes and stuff </p>
  <div class="featured-recipes"> 
    <ul>
      <li>
        <a href="">
          <h3>Recipe 1</h3>
        </a>
      </li>
      <li>
        <a href="">
          <h3>Recipe 2</h3>
        </a>
      </li>
      </ul>
    <a href="/recipes">all recipes</a>
  </div>
</section>
